In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/NFL Play by Play 2009-2016 (v3).csv')

C:\Users\Atharv Rawat\AppData\Local\Temp\ipykernel_20848\712450139.py:1: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/NFL Play by Play 2009-2016 (v3).csv')

In order to find the count of rows with missing values,
- DataFrame.isnull() = returns rows that contains missing values
- DataFrame.sum() = returns the number of rows per column.
- DataFrame.isnull().sum() = returns the number of rows per column which contains missing values

In [18]:
missing_values_count = data.isnull().sum()
print(missing_values_count)
print(sum(missing_values_count))

Date             0
GameID           0
Drive            0
qtr              0
down         54218
             ...
Win_Prob     21993
WPA           4817
airWPA      220738
yacWPA      220956
Season           0
Length: 102, dtype: int64
10222931

If the goal is to remove all rows that have any missing values. Usually not the best idea as loss of information can be significant:

In [ ]:
data.dropna()  # Removes ROWS with missing values
# use .dropna(axis=1) to remove columns with missing values

In [7]:
test = data.dropna(axis=1)
print(test.head())

# Illustrating the loss of data
print("Columns in original dataset: %d \n" % data.shape[1])
print("Columns with na's dropped: %d" % test.shape[1])

         Date      GameID  Drive  qtr  TimeUnder  ydstogo  ydsnet  \
0  2009-09-10  2009091000      1    1         15        0       0
1  2009-09-10  2009091000      1    1         15       10       5
2  2009-09-10  2009091000      1    1         15        5       2
3  2009-09-10  2009091000      1    1         14        8       2
4  2009-09-10  2009091000      1    1         14        8       2

   PlayAttempted  Yards.Gained  sp  ...  AwayTeam  Timeout_Indicator  \
0              1            39   0  ...       TEN                  0
1              1             5   0  ...       TEN                  0
2              1            -3   0  ...       TEN                  0
3              1             0   0  ...       TEN                  0
4              1             0   0  ...       TEN                  0

   posteam_timeouts_pre HomeTimeouts_Remaining_Pre  \
0                     3                          3
1                     3                          3
2                     3                          3
3                     3                          3
4                     3                          3

   AwayTimeouts_Remaining_Pre  HomeTimeouts_Remaining_Post  \
0                           3                            3
1                           3                            3
2                           3                            3
3                           3                            3
4                           3                            3

   AwayTimeouts_Remaining_Post  ExPoint_Prob  TwoPoint_Prob  Season
0                            3           0.0            0.0    2009
1                            3           0.0            0.0    2009
2                            3           0.0            0.0    2009
3                            3           0.0            0.0    2009
4                            3           0.0            0.0    2009

[5 rows x 37 columns]
Columns in original dataset: 102

Columns with na's dropped: 37

Creating a subset from the DataFrame:

In [10]:
#  : -> All rows
#  'EPA':'Season' -> From columns EPA to Season
#  .head() -> First 5 rows from the filtered set
subset = data.loc[:, 'EPA':'Season'].head()
subset

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In order to replace the useless NaN values, we can use the `fillna()` function to fill the missing values. We have the option to specify what NaN is replaced with:

In [12]:
subset.fillna(0)  # This returns a new DataFrame. Doesn't modify the original one.

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

We can also replace the missing values with the value the comes directly after in the same column. This helps retain the logical progression of the data:

In [15]:
subset.bfill(axis=0).fillna(0)  # What that remains is replaced with a 0

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In order to find the percentage of missing datapoints in a Dataframe:

In [19]:
missing_count = sum(data.isnull().sum())
total = data.shape[0] * data.shape[1]
percent_missing = missing_count * 100 / total
percent_missing

27.65226742820059